// Gradient Colors
$primary-gradient-start: #7b2334;
$primary-gradient-end: #9f3247;

// Text Colors
$primary-text: #9f3247;
$secondary-text: #a19d9e;
$error-text: #ffdde1;
$black-text: #000;

// Background Colors
$background-grey: #f3f1f7;
$white: #ffffff;

// Link Colors
$link-text: #ffffff;
$link-hover: #fff;
$link-bg: #ffffff2b;
